{
	"Repository": {
		"concern_syscalls": [
			"write",
			"clone",
			"unlinkat",
			"unlink",
			"connect",
			"sendto",
			"recvfrom",
			"mkdir"
		],
		"aops_zeus": "http://{{ ip }}/conftrace/data",
		"conf_list": "{{ conf_list_str }}",
		"domain_name": "{{ domain_name }}",
		"host_id": "{{ host_id }}"
	}
}